/* 	================= 
		APP1.CSS
	================= */

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */


* {
	/*background-color: rgba(255, 0, 0, 0.2);*/
	/*outline: 1px solid rgb(0,0,255);*/
}

.container {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	background-color: white;
}

/* 	===========================
		TYPOGRAPHY
	=========================== */

.description {
	margin-top: 20px;
	margin-bottom: 3%;
}


/* 	===========================
		IMG
	=========================== */

.img-container img {
	width: 45%;
}

img.img-l {
	margin-left: 3.1%;
	margin-right: 3%;
}

img.img-small {
	width: 17.5%;
	margin-top: 3%;
	margin-right: 3%;
}

img#img-first {
	margin-left: 9.5%;
}

img#img-last {
	margin-right: 0;
}