/* 	================= 
		ID1.CSS
	================= */

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */


* {
	/*background-color: rgba(255, 0, 0, 0.2);*/
	/*outline: 1px solid rgb(0,0,255);*/
}

.container {
	display: flex;
	flex-wrap: nowrap;
	justify-content:space-between;
	height: 100%;
	width: 100%;
	background-color: white;
}

/* 	===========================
		TYPOGRAPHY
	=========================== */

.p1,
.p2,
.p3 {
	font-family: 'Galdeano', sans-serif;
	font-size: 36px;
	text-align: center;

}

h1, p {
	font-family: monospace;
}

p {
	line-height: 16px;
}

a:link,
a:visited {
	color: black;
}

.id1-content p {
	width: 95%;
	margin-top: 10px;
	margin-left: 2.5%;
	font-size: 12px;
	text-align: left;
}



/* 	===========================
		GENERAL
	=========================== */

.p1,
.p2,
.p3 {
	width: 33%;
	overflow-y: scroll;

}

.p1 h1,
.p2 h1,
.p3 h1 {
	padding-bottom: 20px;
	width: 33%;
	background-color: white;
	position: absolute;
	z-index: 20;

}

.p1,
.p2{

	border-right:1px solid black;
	
}

.id1-content {
	position: relative;
	top: 50px;
	bottom: 0;
	width: 100%;
	overflow-y:scroll;
}

.id1-content img {
	width: 100%;
}

/* 	=============================
		PHASE LABELS / IMAGES
	============================= */

p.label-top1 {
	margin-top: 50px;
}

p.label-top2 {
	margin-top: 50px;
}

p.label-top3 {
	margin-top: 50px;
}

p.other-label {
	margin-top: 40px;
	margin-bottom: 20px;
}

img.img-top2 {
	margin-top: 10px;
}

img.img-top3 {
	margin-top: 15px;
}

img.img-bottom1 {
	margin-bottom: 9px;
}

img.img-bottom2 {
	margin-bottom: 3px;
}