/* 	================= 
		MAIN.CSS
	================= */


/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */


* {
	/*background-color: rgba(255, 0, 0, 0.2);*/
	/*outline: 1px solid rgb(0,0,255);*/
}

.container {
	display: flex;
	flex-wrap: nowrap;
	height: 100%;
	width: 100%;
	background-color: white;
}

/* 	===========================
		TYPOGRAPHY
	=========================== */

h1, p {
	font-family: monospace;
}

.content h1 {
	font-family: 'Galdeano', sans-serif;
	font-size: 36px;

}

.nav h1 {
	padding: 3px;
	padding-bottom: 5px;
	font-size: 10px;
	text-decoration: underline;
	cursor: pointer;
}

.nav h1:hover {
	background-color: black;
	color: white;
}

.nav h1.no-underline,
.nav h1.no-underline:hover {
	padding: 0;
	padding-top: 3px;
	background-color: white;
	color: black;
	cursor: auto;
	text-decoration: none;
}

a:link,
a:visited {
	color: black;
}


/* 	===========================
		CONTENT-LEFT
	=========================== */

.content-left {
	width: 81%;
	margin-left: 2%;
	margin-right: 2%;
}

.nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content:space-between;
	width: 100%;
	margin-top: 30px;
}

.content {
	position: absolute;
	top: 100px;
	bottom: 20px;
	width: 81%;

	overflow-y: scroll;
}

/* 	===========================
		INFO-RIGHT
	=========================== */

.info-right {
	display: flex;
	flex-wrap: wrap;
	flex-flow: center;
	width: 15%;
	height: 100%;
}

.info-right p {
	margin-top: 120px;
	margin-bottom: 40px;
}

.info-right img {
	width: 90%;
	height: 90%;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
}

.info-right img.logo {
	margin-bottom: 0px;
}

.info-right img.sub {
	width: 70%;
	height: 70%;
	margin-left: 15%;
}