/* 	================= 
		MAIN.CSS
	================= */

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */


* {
	/*background-color: rgba(255, 0, 0, 0.2);*/
	/*outline: 1px solid rgb(0,0,255);*/
}

.container {
	display: flex;
	flex-wrap: nowrap;
	height: 100%;
	width: 100%;
	background-color: white;
}


/* 	===========================
		CONTENT-LEFT
	=========================== */

.content-left {
	width: 81%;
	margin-left: 2%;
	margin-right: 2%;
}

.nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content:space-between;
	width: 100%;
	margin-top: 30px;
	height:auto;
}

.content {
	position: absolute;
	top: 100px;
	bottom: 20px;
	width: 81%;

	overflow-y: scroll;
}

/* 	===========================
		INFO-RIGHT
	=========================== */

.info-right {
	display: flex;
	flex-wrap: wrap;
	flex-flow: center;
	width: 15%;
	height: 100%;
}

.info-right p {
	margin-top: 120px;
	margin-bottom: 40px;
}

.info-right img {
	width: 90%;
	height: 90%;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
}

.info-right img.logo {
	margin-bottom: 0px;
}

.info-right img.sub {
	width: 70%;
	height: 70%;
	margin-left: 15%;
}

.info-right a:link,
.info-right a:visited {
	width: 100%;
	font-family: monospace;
	text-align: center;
	color: rgba(0,0,0,0.3)
}

/* 	===========================
		MEDIA QUERIES
	=========================== */

@media screen and (max-width: 555px) {

	p.title {
		margin-top: 10px;
	}
}
