/* 	================= 
		TEXT.CSS
	================= */


/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */


* {
	/*background-color: rgba(255, 0, 0, 0.2);*/
	/*outline: 1px solid rgb(0,0,255);*/
}

/* 	===========================
		TYPOGRAPHY
	=========================== */

h1, p {
	font-family: monospace;
}

p {
	line-height: 16px;
}

p.title {
	text-align: right;
	margin-top: 4px;
	margin-right: 10px;
	width: 100%;
}

.content h1 {
	font-family: 'Galdeano', sans-serif;
	font-size: 36px;

}

.nav h1 {
	text-align: center;
	padding: 3px;
	padding-bottom: 5px;
	font-size: 10px;
	text-decoration: underline;
	cursor: pointer;
}

.nav h1:hover {
	background-color: black;
	color: white;
}

h1.visible {
	background-color: black;
	color: white;
}

.nav h1.no-underline,
.nav h1.no-underline:hover {
	padding: 0;
	padding-top: 3px;
	background-color: white;
	color: black;
	cursor: auto;
	text-decoration: none;
}

a:link,
a:visited {
	color: black;
}

.description {
	margin-top: 20px;
	margin-bottom: 3%;
}

@media screen and (max-width: 882px) { 
	.content h1 {
		font-family: 'Galdeano', sans-serif;
		font-size: 28px;
	}

}

@media screen and (max-width: 680px) {

	.content h1 {
		margin-bottom: 3%;
	}

	p.title {
		text-align: center;
		margin-top: 4px;
		margin-bottom: 3%;
		margin-right:0;
		width: 100%;
	}

		.container {
		display: flex;
		flex-wrap: wrap;
	}

	.content-left {
		width: 100%;
		margin-left: 0;
	}

	.nav {
		position: fixed;
		display: flex;
		flex-wrap: nowrap;
		justify-content:space-between;
		width: 100%;
		padding-top: 30px;
		padding-bottom: 10px;
		margin-top: 0;
		height:auto;
		z-index: 20;
		background-color: white;	
	}

	.content {
		position: relative;
		margin-top: 0px;
		width: 96%;
		padding-left: 3%;
		padding-right: 3%;
		
		border-bottom: 1px solid rgba(0,0,0,0.3);
		overflow-x:hidden;
	}

	/*info right*/
	
	.info-right {
		display: flex;
		flex-wrap: wrap;
		flex-flow: center;
		justify-content:space-between;
		width: 90%;
		height: 100%;
		margin-left: 5%	
	}

	.info-right p {
		margin-top: 120px;
		margin-bottom: 40px;
	}

	.info-right img {
		width: 40%;
		height: 40%;
	}

	.info-right img.logo {
		margin-bottom: 0px;
	}

	.info-right img.sub {
		display: none;
	}

	.info-right a:link,
	.info-right a:visited {
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 30px;
	}
}